<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Poor men's library</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>  
  <body>
    <div id="menu">
      <a href="/">Books</a> &middot; <a href="/books/add">New Book</a> | 
      <a href="/authors">Authors</a> &middot; <a href="/authors/add">New Author</a> | 
      <a href="/topics">Topics</a> &middot; <a href="/topics/add">New Topic</a> 
    </div>
    <%= yield %> 
  </body>
</html>
