<h1>Add a new topic</h1>

<form id="topicform" method="post" action="/topics/save">
  <label for="name">Name:</label>  <input id="name" type="text" name="name"/><br />
  <label for="description">Description:</label> <textarea id="description" name="description"></textarea><br />
  <input type="submit" /><br />
</form>
