<h1>Add a new author</h1>

<form id="topicform" method="post" action="/authors/save">
  <label for="name">Name:</label>  <input id="name" type="text" name="name"/><br />
  <label for="surname">Surname:</label> <input id="surname" type="text" name="surname" /><br />
  <input type="submit" /><br />
</form>
